---
const { title, cardWidth, imageSrc, imageClass, link } = Astro.props;
---
<div class={`flex gap-6 flex-wrap`}>
  <a href={link} target="blank_">
  <div class={`w-${cardWidth} min-h-full bg-neutral-100 bg-opacity-40 backdrop-blur-sm rounded-md flex flex-col items-center p-5 group hover:bg-neutral-200 transition ease-out drop-shadow-md stagger-fade overflow-hidden`}>
    <div class="flex justify-between w-full text-neutral-500 group-hover:text-neutral-600 transition">
      <h3>{title}</h3>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#737373" class="h-4 w-4">
        <path d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"></path>
      </svg>
    </div>
    <img src={imageSrc} class={`rounded-lg drop-shadow-xl transition ease-out ${imageClass}`} alt={title} />
  </div>
</a>
</div>